.hr1 {
background: #169dd5;
height: 9px;
border: 1px
}

.hr2 {
background: #98c13d;
height: 9px;
border: 1px
}


r {
color: red;
}

.link1 {text-decoration: none;
font-weight: bold;
font-family: "Arial";
font-size: 22px;
color: #169dd5;
}

.link1:hover {
color:red;
}


.link2 {
text-decoration: none;
font-weight: bold;
font-family: "Arial";
font-size: 22px;
color: #98c13d;
}

.link2:hover {
color: red;
}


.english {
font-weight: 600;
font-family: "Arial";
font-size: 22px;
color: #169dd5
}

.polish {
color: #98c13d
}

.english18px {
font-weight: 600;
font-family: "Arial";
font-size: 18px;
color: #169dd5
}


audio::-webkit-media-controls-panel {
background-color: #98c13d !important;
}


.button1 {
    background-color: #21428e;
    border: none;
    color: #169dd5;
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Arial";
    font-size: 22px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    border: 3px solid #169dd5;
}
.button1:hover {
    background-color: #169dd5;
    color: red;
    border: 3px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2 {
    background-color: #21428e;
    border: none;
    color: #98c13d;
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Arial";
    font-size: 22px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    border: 3px solid #98c13d;
}
.button2:hover {
    background-color: #98c13d;
    color: red;
    border: 3px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
