.hr1 {
background: #169dd5;
height: 9px;
border: 1px
}

.hr2 {
background: #98c13d;
height: 9px;
border: 1px
}


r {
color: red;
}

.link1 {text-decoration: none;
font-weight: 500;
font-family: "Arial";
font-size: 22px;
color: #169dd5;
}

.link1:hover {
color:red;
}


.link2 {
text-decoration: none;
font-weight: 500;
font-family: "Arial";
font-size: 22px;
color: #98c13d;
}

.link2:hover {
color: red;
}


.english {
font-weight: 500;
font-family: "Arial";
font-size: 22px;
color: #169dd5
}

.polish {
color: #98c13d
}

.english18px {
font-weight: 500;
font-family: "Arial";
font-size: 18px;
color: #169dd5
}


audio::-webkit-media-controls-panel {
background-color: #98c13d !important;
}


.button1 {
    background-color: #21428e;
    border: none;
    color: #169dd5;
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Arial";
    font-size: 22px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    border: 3px solid #169dd5;
}
.button1:hover {
    background-color: #169dd5;
    color: red;
    border: 3px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2 {
    background-color: #21428e;
    border: none;
    color: #98c13d;
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Arial";
    font-size: 22px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    border: 3px solid #98c13d;
}
.button2:hover {
    background-color: #98c13d;
    color: red;
    border: 3px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body
{
  margin: 5;
  padding: 0;
  
  /* make it look decent enough */
  background: #98c13d;
  color: #98c13d;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 75px;
  left: 0px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #169dd5;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #FF0000;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #169dd5;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #169dd5;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
